<div class="wrapper-table">
  <div>
    <table mat-table [dataSource]="tableConfig.dataSource">
      @for (column of tableConfig.columns; track column.field) {
      <ng-container
        [matColumnDef]="column.field"
        [sticky]="column.sticky"
        [stickyEnd]="column.stickyEnd"
      >
        <th
          mat-header-cell
          *matHeaderCellDef
          [ngStyle]="{
            'min-width.px': column.minWidth ? column.minWidth : '120'
          }"
        >
          {{ column.columnTitle }}
        </th>
        <td mat-cell *matCellDef="let element">
          @if(column.showComponent) {
          @if(!element[`${column.field}HideComponent`]) {
          <shared-dynamic-component
            [iComponent]="column.showComponent"
            [iParams]="column.params"
            (clickBTN)="onClickBTN($event, element)"
          ></shared-dynamic-component>
          } } @else {
          {{
            element[column.field]
              | pipeDynamic : column.pipeValue : column : element
          }}
          }
        </td>
      </ng-container>

      }
      <tr
        mat-header-row
        *matHeaderRowDef="tableConfig.displayedColumns; sticky: true"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: tableConfig.displayedColumns"
      ></tr>
    </table>
  </div>
</div>
