@use "variables";

.core-side-nav {
    a {
       text-decoration: none;
    }
    &.full-nav {
        width: 200px;
    }
    &.short-nav {
        width: 5rem;
        .nav-label {
            display: none;
        }
    }
    .nav-label {
       margin-left: 8px;
    }
    transition: width 0.5s ease;
    height: calc(100vh - 1rem);
    padding: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* bóng dưới nav */
    z-index: 1000;
    .wrapper-link {
        margin-bottom: 8px;
    }
    .none-child {
        padding-left: 24px;
    }
    .wrapper-child {
        padding-left: 8px;
        
    }
}