<div class="dynamic-form row">
  @for(config of iFormConfig; track config.fieldName) {
  <div class="mb-3 {{ config.className }}">
    <div>{{ config.label }}</div>
    <shared-dynamic-component
      [iComponent]="config.iComponent"
      [iParams]="config.iParams"
      (triggerSearch)="
        config.onTriggerSearch ? config.onTriggerSearch($event) : null
      "
      (clickBTN)="config.clickBTN ? config.clickBTN() : null"
    ></shared-dynamic-component>

    @if(config.iParams.iControl && config.iParams.iControl.errors &&
    config.iParams.iControl.touched ) {

    <div class="break-line mt-2 red-text">
      {{ config.iParams.iControl.errors | dyanmicFormErrorPipe }}
    </div>
    }
  </div>
  }
</div>
