@use 'variables';
.base-layout {
    max-height: calc(100vh - 3rem);
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 3rem);
    height: calc(100vh - 3rem);
    background-color: transparent;
    border-radius: 4px;
}