@use '../variables';
body {
  $wrapperControlHeight: 40px;
  --mat-select-trigger-text-line-height: 40px;
  // variables.$gray
  --mat-select-placeholder-text-color: #747a7c;
  --mat-select-trigger-text-size: 14px;
//   --mat-select-trigger-text-font: 'GEInspiraSans';
//   --mat-option-label-text-font: 'GEInspiraSans';
  .mat-mdc-option {
    min-height: 40px;
  }
  .dynamic-form {
    --mat-form-field-container-vertical-padding: 0px;
    --mat-form-field-container-height: 40px;
    --mat-select-trigger-text-line-height: 40px;
    --mat-form-field-container-text-line-height: 40px;
    --mat-form-field-outlined-disabled-outline-color: rgba(0, 0, 0, 0.125);
      .mat-mdc-option {
        font-size: 14px;
      }
    .wrapper-tooltip {
      height: 18px;
    }
    .mat-form-field-disabled {
      background-color: variables.$light-gray;
      cursor: not-allowed;
      .mdc-text-field--disabled {
        cursor: not-allowed;
      }
    }
    font-size: 14px;
    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
    /*radio*/
    .mdc-radio {
      padding: 0px;
    }
    .mat-internal-form-field > label {
      padding-left: 8px;
    }
    /*end region radio*/
    .group-title {
      font-style: normal;
      font-weight: bold;
      font-size: variables.$medium;
      line-height: 36px;
      color: variables.$dark;
      margin-top: 16px;
      margin-bottom: 4px;
    }

    .mat-mdc-text-field-wrapper {
      margin: 0 !important;
      height: $wrapperControlHeight;
    }

    .margin-left-15px {
      margin-left: 15px;
    }
    
  }

  .simulator-wrapper {
    --mat-form-field-outlined-disabled-input-text-color: black;
  }
      /*date range picker*/
      .wrapper-input-date-range-picker,
      .wrapper-date-picker,
      .wrapper-time-picker {
        --mat-form-field-state-layer-color: variables.$white;
        --mat-form-field-filled-container-color: variables.$white;
        --mat-icon-button-state-layer-size: 40px !important;
        --mdc-icon-button-state-layer-size: 40px !important;
        height: 40px;
        mat-form-field {
          height: 40px;
        }

        .mat-mdc-icon-button .mat-mdc-button-touch-target {
          width: 40px;
          height: 40px;
        }
        .mat-mdc-icon-button.mat-mdc-button-base {
          --mat-icon-button-state-layer-size: 40px;
          padding: 0px;
        }
        .mdc-line-ripple.mdc-line-ripple--deactivating {
          display: none;
        }
        .mdc-line-ripple.mdc-line-ripple--active {
          display: none;
        }
        .mat-mdc-form-field.ge-datepicker {
          border: 1px solid #b0b0b0;
          border-radius: 4px;
          &:hover {
            border: 1px solid rgb(0, 0, 0, 0.54);
          }
        }
        .mat-calendar-body-cell-container {
            outline: none !important;
            &:focus, &:focus-visible{
              outline: none !important;
            }
        }
      }
}
