
$primary: #d7e3ff;
$primary-hover: #00458f;
$secondary-color: #d7e3ff;
$three-color: #cf03f7;
$core-background: #00458f;

$white-color: #f8f9fa;
$black: black;
$background-color: #f8f9fa;
$warn-color: #f44336;
$box-shadow: #212121;
$snack-success: #00458f;
$snack-error: #f44336;

$font-size-title: 20px;
$font-weight-title: bold;



$light-gray: #f8f8f8;
$light-gray-1: #dcdede;
$gray: #747a7c;
$gray-med-base: #b0b0b0;
$dark: #061926;

/* FONT SIZE VARIABLE */
$medium: 16px;
$small: 14px;
$x-small: 12px;
$lh-medium: 24px;
$lh-small: 20px;
$lh-x-small: 16px;
